body{
    height:100%;
  }

  .logo img{
    width: 100%;
    height: auto;
    padding: 10% 15%;
    margin-top: 25%;
  }
    
  .logo h1{    
    font: Comic;
    font-size: 2.9em;
    text-align: center;
    color: #1e4e87;
    font-style: italic;
  }

  .container.button-login{
     position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0f437f;
    padding: 3% 3%;
    text-align: center;
  }

  .btn-login{
    background-color: white;
    font-weight: 600;
  }



