body {
    background-color: #0f437f !important;
}

h1 {
    color: #dc3545;
    margin-top: 3.5%;
    color: #fff;
    margin-bottom: 10%;
    font-size: 2.35em;
}

.list {
    width: 92%;
    background-color: #dc3545;
    border-radius: 7px;
    padding: 5% 2%;
    padding-bottom: 2.5%;
    margin-left: 4%;
    margin-top: 5%;
    color: #fff;
}


    .list .titulo-tabela {
        font-weight: 600;
    }

    .list .btn-edit-delete {
        padding: 0;
        display: inline;
        font-size: 1.3em;
        font-weight: 100;
    }

    .list .btn-edit-delete i.fa.fa-pencil{
        padding-right:10%;
    }
    .list .row {
        padding-bottom: 1%;
    }

.menu-segment {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e03131;
    padding: 0;
    margin: 0;
    color: #fff;
    padding: 2% 0;
}