/*body {
    background-color: #0f437f !important;
}*/

.form-novo-peso {
    margin-top: 30%;
    padding: 0 10%;
}


.form-label {
    color: #dc3545;
    font-weight: 600;
}

.menu-segment {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e03131;
    padding: 0;
    margin: 0;
    color: #fff;
    padding: 2% 0;
}

.container {
    padding-top: 5%;
}